.heading {
  background-color: #45171d;
  margin: 0%;
  padding: 15px;
  text-align: center;
  color: white;
}
.table1 {
  width: 1350px;
  height: 50px;
  background-color: #e84a5f;
  margin: 0%;
}
.heading2 {
  text-align: center;
  background-color: #ffb4ac;
  padding: 10px;
}
.table2 {
  width: 1000px;
  text-align: center;
  background-color: #45171d;
  color: white;
  height: 100px;
}
a {
  color: white;
}
